html {
	margin: 3em;
	background-color: #f0f0f5;
	font-family: "Courier New", monospace, sans;
	line-height: 1.5em;
	color: #000066;
}

/* Links are `a` elements in HTML */
a {
	text-decoration: none;
	margin: 0 0.5em 0 0;
	padding: 3px;
}

/* :hover	 is what it will look like when you hover the mouse over an element */
a:hover {
	background-color: #cccccc;
	border: 3px dashed #000066;
}

/* You can define any color with a 3-digit "hex-code" */
/* The three values are from 0-F, and represent Red, Green, Blue */
header {
	color: blue;
	font-size: 200%;
	text-align: center;
}

article {
	border: 1px solid silver;
	padding: 2em;
}

/* Styles attached to element-names apply to _every_ element
	 with that name */
div {
		padding: 5px;
		text-align: center;
}

div.cts_node {
	border: none;
	margin-left: auto;
	margin-right: auto;

}

div.cts_progress {
		padding: 5px;
		text-align: center;
}

/* To specify style for only _some_ elements
	 you can identify them by classes (the classes have to be
	 in the HTML)
*/
div.cts_corpus {
	  border: 2px solid #660066;
	  padding: 20px;
		text-align: center;
}


/* You can specify just a class name… */
.cts_workTitle {
	font-style: italic;
}

/* Fonts are tricky… read about them online! */
.cts_citationScheme {
	color: navy;
	font-family: DejaVu-Sans-Mono, monospace;
}

.cts_corpusTitle {
	color: navy;
}


/* You can add space on any side of something with:
		- margin-right
		- margin-left
		- margin-top
		- margin-bottom

*/
.cts_ref {
	margin-right: 2em;
	opacity: 0.5;
}

.cts_node {
	margin-top: 1em;
	max-width: 40em;
}

progress.cts_progress {
	width: 100%;
}

footer {
	text-align: center;
}
